<div class="self-stretch flex flex-col items-start justify-start max-w-full text-xl">
  <div class="self-stretch bg-white overflow-hidden flex flex-row items-end justify-between pt-[25px] pb-[30px] pr-[110px] pl-[109px] gap-[20px] z-[19] mq450:pl-5 mq450:pr-5 mq450:box-border mq825:pl-[54px] mq825:pr-[55px] mq825:box-border mq1425:flex-wrap">
    <div class="flex flex-col items-start justify-end pt-0 px-0 pb-[5.4px]">
      <div class="flex flex-row items-start justify-start gap-[16px]">
        <img
          class="self-stretch w-10 relative max-h-full min-h-[34px]"
          loading="lazy"
          alt=""
          src="/icon.svg"
        />
        <div class="flex flex-col items-start justify-start pt-[2.8px] px-0 pb-0">
          <div class="relative leading-[28px] font-light mq450:text-base mq450:leading-[22px]">
            Latest and Greatest Tech
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row items-start justify-start gap-[16px]">
      <img
        class="h-[43.8px] w-10 relative"
        alt=""
        src="/icon-1.svg"
      />
      <div class="flex flex-col items-start justify-start pt-[7.9px] px-0 pb-0">
        <div class="relative leading-[28px] font-light inline-block min-w-[98px] mq450:text-base mq450:leading-[22px]">
          Guarantee
        </div>
      </div>
    </div>
    <div class="flex flex-col items-start justify-end pt-0 px-0 pb-[7.4px]">
      <div class="flex flex-row items-start justify-start gap-[16px]">
        <img
          class="self-stretch w-[62px] relative max-h-full min-h-[31px]"
          loading="lazy"
          alt=""
          src="/frame-26086041.svg"
        />
        <div class="flex flex-col items-start justify-start pt-[1.3px] px-0 pb-0">
          <div class="relative leading-[28px] font-light mq450:text-base mq450:leading-[22px]">
            Free Shipping over 1000$
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row items-start justify-start gap-[8px] text-lg">
      <img
        class="h-[45px] w-10 relative"
        alt=""
        src="/icon-2.svg"
      />
      <div class="flex flex-col items-start justify-start pt-[11.5px] px-0 pb-0">
        <div class="relative font-light inline-block min-w-[111px]">
          24/7 Support
        </div>
      </div>
    </div>
  </div>
  <footer class="self-stretch h-[347px] flex flex-col items-start justify-start pt-0 px-0 pb-[54px] box-border max-w-full z-[20] text-left text-base text-neutral-gray-cbcbcb font-web-button-lg lg:h-auto mq450:pb-[35px] mq450:box-border">
    <div class="self-stretch h-[293px] relative bg-primary-primary-900 shrink-0 [debug_commit:1de1738] max-w-full lg:h-auto lg:min-h-[293]">
      <div class="absolute top-[12px] left-[calc(50%_-_612px)] w-[1224px] h-[277px] overflow-hidden flex flex-col items-start justify-start pt-9 px-0 pb-[94px] box-border gap-[70px] max-w-full lg:h-auto">
        <div class="w-[125px] h-[22.7px] relative hidden z-[0]" />
        <img
          class="w-10 h-10 absolute !m-[0] right-[20px] bottom-[44px] rounded-29xl overflow-hidden shrink-0"
          loading="lazy"
          alt=""
          src="/back-to-up-bottun.svg"
        />
        <div class="w-[1140px] flex flex-row items-start justify-between py-0 pr-5 pl-0 box-border shrink-0 [debug_commit:1de1738] gap-[20px] max-w-full lg:flex-wrap">
          <div class="flex flex-col items-start justify-start py-0 pr-3.5 pl-0">
            <div class="flex flex-col items-start justify-start py-0 px-0.5 gap-[8px]">
              <div class="relative font-medium text-white inline-block min-w-[73px]">
                Company
              </div>
              <div class="relative leading-[24px] font-light inline-block min-w-[66px]">
                about us
              </div>
              <div class="relative leading-[24px] font-light inline-block min-w-[33px]">
                blog
              </div>
              <div class="relative leading-[24px] font-light inline-block min-w-[53px]">
                returns
              </div>
              <div class="relative leading-[24px] font-light inline-block min-w-[91px]">{`order status `}</div>
            </div>
          </div>
          <div class="flex flex-col items-start justify-start py-0 px-0.5 gap-[8px]">
            <div class="relative font-medium text-white inline-block min-w-[30px]">
              Info
            </div>
            <div class="relative leading-[24px] font-light inline-block min-w-[105px]">
              How it works?
            </div>
            <div class="relative leading-[24px] font-light inline-block min-w-[97px]">
              our promises
            </div>
            <div class="relative leading-[24px] font-light inline-block min-w-[30px]">
              FAQ
            </div>
          </div>
          <div class="w-[317px] flex flex-col items-start justify-start py-0 pr-[39px] pl-0 box-border">
            <div class="self-stretch flex flex-col items-start justify-start py-0 px-0.5 gap-[8px]">
              <div class="relative font-medium text-white inline-block min-w-[84px]">
                Contact us
              </div>
              <div class="self-stretch flex flex-row items-start justify-start gap-[4px]">
                <div class="flex flex-col items-start justify-start pt-0.5 px-0 pb-0">
                  <img
                    class="w-5 h-5 relative"
                    alt=""
                    src="/vuesaxoutlinelocation.svg"
                  />
                </div>
                <div class="flex-1 relative leading-[24px] font-light">
                  123 Main Street, Anytown,USA
                </div>
              </div>
              <div class="self-stretch flex flex-row items-start justify-start py-[2.5px] px-0 gap-[4px]">
                <div class="flex flex-col items-start justify-start pt-0.5 px-0 pb-0">
                  <img
                    class="w-5 h-5 relative"
                    alt=""
                    src="/vuesaxoutlinecallcalling.svg"
                  />
                </div>
                <div class="relative leading-[24px] font-light">
                  +1 (555) 123-4567
                </div>
              </div>
              <div class="self-stretch flex flex-row items-start justify-start gap-[4px]">
                <div class="flex flex-col items-start justify-start pt-0.5 px-0 pb-0">
                  <img
                    class="w-5 h-5 relative"
                    alt=""
                    src="/vuesaxoutlinesmsedit.svg"
                  />
                </div>
                <div class="flex-1 relative leading-[24px] font-light whitespace-nowrap">
                  TechHeimSupport@gmail.com
                </div>
              </div>
            </div>
          </div>
          <div class="w-72 flex flex-col items-start justify-start gap-[16px] text-white">
            <div class="w-[235px] flex flex-row items-start justify-start py-0 px-0.5 box-border">
              <div class="w-[291px] relative font-medium inline-block shrink-0 [debug_commit:1de1738]">
                Sign up for News and updates
              </div>
            </div>
            <div class="self-stretch rounded-lg overflow-hidden flex flex-row items-start justify-between py-2.5 pr-[13px] pl-[11px] gap-[20px] text-neutral-gray-f9f9f9 border-[1px] border-solid border-neutral-gray-f9f9f9">
              <div class="flex flex-row items-start justify-start gap-[8px]">
                <img
                  class="h-6 w-6 relative min-h-[24px]"
                  alt=""
                  src="/vuesaxoutlineuser-1.svg"
                />
                <div class="flex flex-row items-start justify-start gap-[4px]">
                  <div class="self-stretch w-2 relative leading-[24px] font-light hidden">
                    *
                  </div>
                  <div class="relative leading-[24px] font-light inline-block min-w-[113px]">
                    E-mail Address
                  </div>
                </div>
              </div>
              <img
                class="h-6 w-6 relative min-h-[24px]"
                alt=""
                src="/vuesaxoutlinearrowright1.svg"
              />
            </div>
            <div class="flex flex-row items-start justify-start gap-[16px] z-[1]">
              <img
                class="h-8 w-8 relative overflow-hidden shrink-0 min-h-[32px]"
                loading="lazy"
                alt=""
                src="/facebook.svg"
              />
              <img
                class="h-8 w-8 relative overflow-hidden shrink-0 min-h-[32px]"
                alt=""
                src="/twitter.svg"
              />
              <img
                class="h-8 w-8 relative overflow-hidden shrink-0 min-h-[32px]"
                alt=""
                src="/instagram.svg"
              />
              <img
                class="h-8 w-8 relative overflow-hidden shrink-0 min-h-[32px]"
                alt=""
                src="/youtube.svg"
              />
            </div>
          </div>
        </div>
        <div class="w-[1076px] flex flex-row items-start justify-between pt-0 pb-[60px] pr-5 pl-0 box-border shrink-0 [debug_commit:1de1738] max-w-full gap-[20px] lg:flex-wrap">
          <img
            class="self-stretch w-[140px] relative max-h-full min-h-[24px]"
            loading="lazy"
            alt=""
            src="/partners.svg"
          />
          <div class="h-6 w-[803px] flex flex-col items-start justify-start pt-[19px] px-0 pb-0 box-border max-w-full">
            <div class="self-stretch h-[361px] relative max-w-full shrink-0 flex items-center justify-center">
              <img
                class="self-stretch h-full overflow-hidden shrink-0 object-contain absolute left-[0px] top-[0px] w-full [transform:scale(2.108)]"
                loading="lazy"
                alt=""
                src="/ellipse.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="absolute right-[128px] bottom-[205px] rounded-29xl bg-primary-primary-50 w-10 h-10 flex flex-row items-center justify-center py-1.5 px-2 box-border z-[2]">
        <img
          class="h-6 w-6 relative rounded-[32px]"
          alt=""
          src="/vuesaxoutlinemessagequestion.svg"
        />
      </div>
    </div>
    <div class="self-stretch bg-primary-primary-900 box-border overflow-hidden flex flex-row items-start justify-between py-4 pr-[120px] pl-[108px] min-h-[58px] shrink-0 [debug_commit:1de1738] max-w-full gap-[20px] text-xs border-t-[2px] border-solid border-primary-primary-900 lg:flex-wrap mq450:pl-5 mq450:pr-5 mq450:box-border mq825:pl-[54px] mq825:pr-[60px] mq825:box-border">
      <div class="flex flex-row items-start justify-start gap-[9px]">
        <img
          class="h-6 w-6 relative"
          alt=""
          src="/vuesaxlinearcopyright.svg"
        />
        <div class="flex flex-col items-start justify-start pt-[4.5px] px-0 pb-0">
          <div class="relative font-medium inline-block min-w-[98px]">{`2024 Microshop.`}</div>
        </div>
      </div>
      <div class="w-[479px] flex flex-col items-start justify-start pt-[4.5px] px-0 pb-0 box-border max-w-full">
        <div class="self-stretch flex flex-row items-start justify-between gap-[20px] mq825:flex-wrap">
          <div class="relative font-medium inline-block min-w-[88px]">
            cookie settings
          </div>
          <div class="relative font-medium inline-block min-w-[80px]">
            Privacy Policy
          </div>
          <div class="relative font-medium inline-block min-w-[126px]">{`Terms and Conditions `}</div>
          <div class="relative font-medium inline-block min-w-[41px]">{`Imprint `}</div>
        </div>
      </div>
    </div>
  </footer>
</div>
