<header class="self-stretch h-[100px] bg-white box-border overflow-hidden shrink-0 flex flex-row items-end justify-center pt-[18px] px-5 pb-[19px] gap-[192px] top-[0] z-[99] sticky max-w-full border-b-[1px] border-solid border-gradient-linear-stroke-bottom mq450:gap-[24px] mq825:gap-[48px] mq1425:gap-[96px]">
  <div class="self-stretch w-[88px] flex flex-col items-start justify-start py-0 pr-8 pl-0 box-border">
    <img
      class="self-stretch flex-1 relative max-w-full overflow-hidden max-h-full"
      alt=""
      src="/logo.svg"
    />
  </div>
  <nav class="m-0 w-[614px] flex flex-col items-start justify-end pt-0 px-0 pb-1 box-border max-w-full mq825:hidden">
    <nav class="m-0 self-stretch flex flex-row items-start justify-start py-2 px-0 gap-[48px] text-center text-lg text-black font-web-button-lg mq825:gap-[24px]">
      <div class="flex flex-row items-start justify-start p-2">
        <a class="[text-decoration:none] relative font-light text-[inherit] inline-block min-w-[50px]">
          Home
        </a>
      </div>
      <div class="flex flex-row items-start justify-start p-2">
        <a class="[text-decoration:none] relative font-light text-[inherit] inline-block min-w-[75px]">
          Products
        </a>
      </div>
      <div class="flex flex-row items-start justify-start p-2">
        <a class="[text-decoration:none] relative font-light text-[inherit] inline-block min-w-[38px]">
          Blog
        </a>
      </div>
      <div class="flex flex-row items-start justify-start p-2">
        <a class="[text-decoration:none] relative font-light text-[inherit] inline-block min-w-[34px]">
          FAQ
        </a>
      </div>
      <div class="flex flex-row items-start justify-start p-2">
        <a class="[text-decoration:none] relative font-light text-[inherit] inline-block min-w-[95px] whitespace-nowrap">
          Contact Us
        </a>
      </div>
    </nav>
  </nav>
  <div class="flex flex-col items-start justify-end pt-0 px-0 pb-[3px]">
    <div class="flex flex-row items-start justify-start py-2 px-0 gap-[8px]">
      <div class="flex flex-row items-start justify-start p-2">
        <img
          class="h-6 w-6 relative"
          alt=""
          src="/vuesaxlinearsearchnormal.svg"
        />
      </div>
      <div class="flex flex-row items-start justify-start p-2">
        <img
          class="h-6 w-6 relative"
          alt=""
          src="/vuesaxoutlinebag.svg"
        />
      </div>
      <div class="flex flex-row items-start justify-start p-2">
        <img
          class="h-6 w-6 relative"
          alt=""
          src="/vuesaxoutlineuser.svg"
        />
      </div>
    </div>
  </div>
</header>
