---
interface Props {
	name: string;
	image: string;
}

const { name, image } = Astro.props;
---
<section class="h-[420px] w-[444px] rounded-lg bg-steelblue overflow-hidden shrink-0 flex flex-col items-end justify-start pt-[139px] pb-[280px] pr-[143px] pl-0 box-border gap-[56px] min-w-[444px] max-w-full text-left text-sandybrown lg:flex-1 lg:pt-[90px] lg:pr-0 lg:pb-[182px] lg:box-border mq825:h-auto mq825:gap-[28px] mq825:pt-[58px] mq825:pb-[118px] mq825:box-border mq825:min-w-full">
  <div class="w-[125px] h-[125px] relative rounded-[50%] box-border hidden border-[0px] border-solid border-steelblue" />
  <div class="mt-[-260px] w-[412px] flex flex-row items-start justify-start gap-[33px] shrink-0 [debug_commit:1de1738] max-w-[137%] mq450:gap-[16px] mq825:flex-wrap">
    <div class="h-[204px] flex-1 relative rounded-[50%] bg-sandybrown min-w-[144px]" />
    <div class="flex flex-col items-start justify-start pt-[134px] px-0 pb-0 box-border min-w-[158px] mq825:flex-1">
      <h3 class="m-0 relative text-inherit font-medium font-inherit mq450:text-lgi">
        {name}
      </h3>
    </div>
  </div>
  <div class="mr-[-204px] w-[566px] h-[321px] relative overflow-y-auto shrink-0 [debug_commit:1de1738] max-w-[189%] text-xl text-steelblue">
    <img
      class="absolute bottom-[-118px] left-[2px] w-[118px] h-[236px] overflow-hidden"
      alt=""
      src="/frame-9.svg"
    />
    <img
      class="absolute w-full right-[0px] bottom-[-118px] left-[0px] max-w-full overflow-hidden h-[438px] z-[1]"
      alt=""
      src="/frame-10.svg"
    />
    <img
      class="absolute h-[calc(100%_+_7px)] w-[calc(100%_-_562px)] top-[111px] right-[493px] bottom-[-118px] left-[69px] max-w-full overflow-hidden max-h-full z-[2]"
      alt=""
      src="/frame-11.svg"
    />
    <img
      class="absolute h-[calc(100%_+_7px)] w-[calc(100%_-_562px)] top-[111px] right-[485px] bottom-[-118px] left-[77px] max-w-full overflow-hidden max-h-full z-[2]"
      alt=""
      src="/frame-11.svg"
    />
    <img
      class="absolute h-[calc(100%_+_7px)] w-[calc(100%_-_562px)] top-[111px] right-[477px] bottom-[-118px] left-[85px] max-w-full overflow-hidden max-h-full z-[2]"
      alt=""
      src="/frame-11.svg"
    />
    <img
      class="absolute h-[calc(100%_+_7px)] w-[calc(100%_-_562px)] top-[111px] right-[469px] bottom-[-118px] left-[93px] max-w-full overflow-hidden max-h-full z-[2]"
      alt=""
      src="/frame-11.svg"
    />
    <img
      class="absolute h-[calc(100%_+_7px)] w-[calc(100%_-_562px)] top-[111px] right-[461px] bottom-[-118px] left-[101px] max-w-full overflow-hidden max-h-full z-[3]"
      alt=""
      src="/frame-15.svg"
    />
    <img
      class="absolute h-[calc(100%_+_7px)] w-[calc(100%_-_562px)] top-[111px] right-[445px] bottom-[-118px] left-[117px] max-w-full overflow-hidden max-h-full z-[3]"
      alt=""
      src="/frame-15.svg"
    />
    <img
      class="absolute h-[calc(100%_+_7px)] w-[calc(100%_-_562px)] top-[111px] right-[453px] bottom-[-118px] left-[109px] max-w-full overflow-hidden max-h-full z-[3]"
      alt=""
      src="/frame-15.svg"
    />
    <img
      class="absolute h-[calc(100%_+_7px)] w-[calc(100%_-_562px)] top-[111px] right-[437px] bottom-[-118px] left-[125px] max-w-full overflow-hidden max-h-full z-[3]"
      alt=""
      src="/frame-15.svg"
    />
    <img
      class="absolute h-[calc(100%_-_1px)] w-[calc(100%_-_562px)] top-[119px] right-[493px] bottom-[-118px] left-[69px] max-w-full overflow-hidden max-h-full z-[3]"
      alt=""
      src="/frame-19.svg"
    />
    <img
      class="absolute h-[calc(100%_-_1px)] w-[calc(100%_-_562px)] top-[119px] right-[485px] bottom-[-118px] left-[77px] max-w-full overflow-hidden max-h-full z-[3]"
      alt=""
      src="/frame-19.svg"
    />
    <img
      class="absolute h-[calc(100%_-_1px)] w-[calc(100%_-_562px)] top-[119px] right-[477px] bottom-[-118px] left-[85px] max-w-full overflow-hidden max-h-full z-[3]"
      alt=""
      src="/frame-19.svg"
    />
    <img
      class="absolute h-[calc(100%_-_1px)] w-[calc(100%_-_562px)] top-[119px] right-[469px] bottom-[-118px] left-[93px] max-w-full overflow-hidden max-h-full z-[3]"
      alt=""
      src="/frame-19.svg"
    />
    <img
      class="absolute h-[calc(100%_-_1px)] w-[calc(100%_-_562px)] top-[119px] right-[461px] bottom-[-118px] left-[101px] max-w-full overflow-hidden max-h-full z-[4]"
      alt=""
      src="/frame-23.svg"
    />
    <img
      class="absolute h-[calc(100%_-_1px)] w-[calc(100%_-_562px)] top-[119px] right-[445px] bottom-[-118px] left-[117px] max-w-full overflow-hidden max-h-full z-[4]"
      alt=""
      src="/frame-23.svg"
    />
    <img
      class="absolute h-[calc(100%_-_1px)] w-[calc(100%_-_562px)] top-[119px] right-[453px] bottom-[-118px] left-[109px] max-w-full overflow-hidden max-h-full z-[4]"
      alt=""
      src="/frame-23.svg"
    />
    <img
      class="absolute h-[calc(100%_-_1px)] w-[calc(100%_-_562px)] top-[119px] right-[437px] bottom-[-118px] left-[125px] max-w-full overflow-hidden max-h-full z-[4]"
      alt=""
      src="/frame-23.svg"
    />
    <img
      class="absolute h-[calc(100%_-_9px)] w-[calc(100%_-_562px)] top-[127px] right-[493px] bottom-[-118px] left-[69px] max-w-full overflow-hidden max-h-full z-[4]"
      alt=""
      src="/frame-27.svg"
    />
    <img
      class="absolute h-[calc(100%_-_9px)] w-[calc(100%_-_562px)] top-[127px] right-[485px] bottom-[-118px] left-[77px] max-w-full overflow-hidden max-h-full z-[4]"
      alt=""
      src="/frame-27.svg"
    />
    <img
      class="absolute h-[calc(100%_-_9px)] w-[calc(100%_-_562px)] top-[127px] right-[477px] bottom-[-118px] left-[85px] max-w-full overflow-hidden max-h-full z-[4]"
      alt=""
      src="/frame-27.svg"
    />
    <img
      class="absolute h-[calc(100%_-_9px)] w-[calc(100%_-_562px)] top-[127px] right-[469px] bottom-[-118px] left-[93px] max-w-full overflow-hidden max-h-full z-[4]"
      alt=""
      src="/frame-27.svg"
    />
    <img
      class="absolute h-[calc(100%_-_9px)] w-[calc(100%_-_562px)] top-[127px] right-[461px] bottom-[-118px] left-[101px] max-w-full overflow-hidden max-h-full z-[5]"
      alt=""
      src="/frame-31.svg"
    />
    <img
      class="absolute h-[calc(100%_-_9px)] w-[calc(100%_-_562px)] top-[127px] right-[445px] bottom-[-118px] left-[117px] max-w-full overflow-hidden max-h-full z-[5]"
      alt=""
      src="/frame-31.svg"
    />
    <img
      class="absolute h-[calc(100%_-_9px)] w-[calc(100%_-_562px)] top-[127px] right-[453px] bottom-[-118px] left-[109px] max-w-full overflow-hidden max-h-full z-[5]"
      alt=""
      src="/frame-31.svg"
    />
    <img
      class="absolute h-[calc(100%_-_9px)] w-[calc(100%_-_562px)] top-[127px] right-[437px] bottom-[-118px] left-[125px] max-w-full overflow-hidden max-h-full z-[5]"
      alt=""
      src="/frame-31.svg"
    />
    <img
      class="absolute h-[calc(100%_-_17px)] w-[calc(100%_-_562px)] top-[135px] right-[493px] bottom-[-118px] left-[69px] max-w-full overflow-hidden max-h-full z-[5]"
      alt=""
      src="/frame-35.svg"
    />
    <img
      class="absolute h-[calc(100%_-_17px)] w-[calc(100%_-_562px)] top-[135px] right-[485px] bottom-[-118px] left-[77px] max-w-full overflow-hidden max-h-full z-[5]"
      alt=""
      src="/frame-35.svg"
    />
    <img
      class="absolute h-[calc(100%_-_17px)] w-[calc(100%_-_562px)] top-[135px] right-[477px] bottom-[-118px] left-[85px] max-w-full overflow-hidden max-h-full z-[5]"
      alt=""
      src="/frame-35.svg"
    />
    <img
      class="absolute h-[calc(100%_-_17px)] w-[calc(100%_-_562px)] top-[135px] right-[469px] bottom-[-118px] left-[93px] max-w-full overflow-hidden max-h-full z-[5]"
      alt=""
      src="/frame-35.svg"
    />
    <img
      class="absolute h-[calc(100%_-_17px)] w-[calc(100%_-_562px)] top-[135px] right-[461px] bottom-[-118px] left-[101px] max-w-full overflow-hidden max-h-full z-[6]"
      alt=""
      src="/frame-39.svg"
    />
    <img
      class="absolute h-[calc(100%_-_17px)] w-[calc(100%_-_562px)] top-[135px] right-[445px] bottom-[-118px] left-[117px] max-w-full overflow-hidden max-h-full z-[6]"
      alt=""
      src="/frame-39.svg"
    />
    <img
      class="absolute h-[calc(100%_-_17px)] w-[calc(100%_-_562px)] top-[135px] right-[453px] bottom-[-118px] left-[109px] max-w-full overflow-hidden max-h-full z-[6]"
      alt=""
      src="/frame-39.svg"
    />
    <img
      class="absolute h-[calc(100%_-_17px)] w-[calc(100%_-_562px)] top-[135px] right-[437px] bottom-[-118px] left-[125px] max-w-full overflow-hidden max-h-full z-[6]"
      alt=""
      src="/frame-39.svg"
    />
    <img
      class="absolute h-[calc(100%_-_25px)] w-[calc(100%_-_562px)] top-[143px] right-[493px] bottom-[-118px] left-[69px] max-w-full overflow-hidden max-h-full z-[6]"
      alt=""
      src="/frame-43.svg"
    />
    <img
      class="absolute h-[calc(100%_-_25px)] w-[calc(100%_-_562px)] top-[143px] right-[485px] bottom-[-118px] left-[77px] max-w-full overflow-hidden max-h-full z-[6]"
      alt=""
      src="/frame-43.svg"
    />
    <img
      class="absolute h-[calc(100%_-_25px)] w-[calc(100%_-_562px)] top-[143px] right-[477px] bottom-[-118px] left-[85px] max-w-full overflow-hidden max-h-full z-[6]"
      alt=""
      src="/frame-43.svg"
    />
    <img
      class="absolute h-[calc(100%_-_25px)] w-[calc(100%_-_562px)] top-[143px] right-[469px] bottom-[-118px] left-[93px] max-w-full overflow-hidden max-h-full z-[6]"
      alt=""
      src="/frame-43.svg"
    />
    <img
      class="absolute h-[calc(100%_-_25px)] w-[calc(100%_-_562px)] top-[143px] right-[461px] bottom-[-118px] left-[101px] max-w-full overflow-hidden max-h-full z-[7]"
      alt=""
      src="/frame-47.svg"
    />
    <img
      class="absolute h-[calc(100%_-_25px)] w-[calc(100%_-_562px)] top-[143px] right-[445px] bottom-[-118px] left-[117px] max-w-full overflow-hidden max-h-full z-[7]"
      alt=""
      src="/frame-47.svg"
    />
    <img
      class="absolute h-[calc(100%_-_25px)] w-[calc(100%_-_562px)] top-[143px] right-[453px] bottom-[-118px] left-[109px] max-w-full overflow-hidden max-h-full z-[7]"
      alt=""
      src="/frame-47.svg"
    />
    <img
      class="absolute h-[calc(100%_-_25px)] w-[calc(100%_-_562px)] top-[143px] right-[437px] bottom-[-118px] left-[125px] max-w-full overflow-hidden max-h-full z-[7]"
      alt=""
      src="/frame-47.svg"
    />
    <img
      class="absolute top-[151px] left-[69px] w-1 h-72 overflow-hidden z-[7]"
      alt=""
      src="/frame-51.svg"
    />
    <img
      class="absolute top-[151px] left-[77px] w-1 h-72 overflow-hidden z-[7]"
      alt=""
      src="/frame-51.svg"
    />
    <img
      class="absolute top-[151px] left-[85px] w-1 h-72 overflow-hidden z-[7]"
      alt=""
      src="/frame-51.svg"
    />
    <img
      class="absolute top-[151px] left-[93px] w-1 h-72 overflow-hidden z-[7]"
      alt=""
      src="/frame-51.svg"
    />
    <img
      class="absolute top-[151px] left-[101px] w-1 h-72 overflow-hidden z-[8]"
      alt=""
      src="/frame-55.svg"
    />
    <img
      class="absolute top-[151px] left-[117px] w-1 h-72 overflow-hidden z-[8]"
      alt=""
      src="/frame-55.svg"
    />
    <img
      class="absolute top-[151px] left-[109px] w-1 h-72 overflow-hidden z-[8]"
      alt=""
      src="/frame-55.svg"
    />
    <img
      class="absolute top-[151px] left-[125px] w-1 h-72 overflow-hidden z-[8]"
      alt=""
      src="/frame-55.svg"
    />
    <div class="absolute top-[0px] left-[105px] w-[390px] flex flex-col items-start justify-start pt-[97px] px-0 pb-[213px] box-border gap-[59px]">
      <div class="relative font-medium z-[2] mq450:text-base">
        Digital Edition +
        2TB
      </div>
      <div class="flex flex-row items-start justify-start py-0 px-[22px] text-center text-base text-white">
        <div class="rounded-lg bg-primary flex flex-row items-start justify-start py-[13.5px] px-10 gap-[8px] z-[2]">
          <img
            class="h-6 w-6 relative hidden"
            alt=""
            src="/vuesaxoutlineshoppingcart.svg"
          />
          <div class="relative inline-block min-w-[68px]">
            Buy Now
          </div>
          <img
            class="h-6 w-6 relative hidden"
            alt=""
            src="/vuesaxoutlineshoppingcart.svg"
          />
        </div>
      </div>
      <div class="w-[210px] !m-[0] absolute h-full top-[0px] right-[0px] bottom-[0px] overflow-hidden flex flex-col items-start justify-start pt-3.5 pb-0 pr-0.5 pl-[148px] box-border z-[8]">
        <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative shrink-0 [debug_commit:1de1738]">
          <img
            class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[2]"
            alt=""
            src="/frame-59.svg"
          />
          <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
            <img
              class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[3]"
              alt=""
              src="/frame-60.svg"
            />
            <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
              <img
                class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[4]"
                alt=""
                src="/frame-61.svg"
              />
              <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                <img
                  class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[5]"
                  alt=""
                  src="/frame-62.svg"
                />
                <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                  <img
                    class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[6]"
                    alt=""
                    src="/frame-63.svg"
                  />
                  <img
                    class="h-[385px] w-1 relative overflow-hidden shrink-0 z-[7]"
                    alt=""
                    src="/frame-64.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row items-start justify-start py-0 px-2 mt-[-425px]">
          <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative shrink-0 [debug_commit:1de1738]">
            <img
              class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[2]"
              alt=""
              src="/frame-59.svg"
            />
            <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
              <img
                class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[3]"
                alt=""
                src="/frame-60.svg"
              />
              <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                <img
                  class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[4]"
                  alt=""
                  src="/frame-61.svg"
                />
                <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                  <img
                    class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[5]"
                    alt=""
                    src="/frame-62.svg"
                  />
                  <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                    <img
                      class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[6]"
                      alt=""
                      src="/frame-63.svg"
                    />
                    <img
                      class="h-[385px] w-1 relative overflow-hidden shrink-0 z-[7]"
                      alt=""
                      src="/frame-64.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row items-start justify-start py-0 px-4 mt-[-425px]">
          <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative shrink-0 [debug_commit:1de1738]">
            <img
              class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[2]"
              alt=""
              src="/frame-59.svg"
            />
            <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
              <img
                class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[3]"
                alt=""
                src="/frame-60.svg"
              />
              <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                <img
                  class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[4]"
                  alt=""
                  src="/frame-61.svg"
                />
                <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                  <img
                    class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[5]"
                    alt=""
                    src="/frame-62.svg"
                  />
                  <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                    <img
                      class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[6]"
                      alt=""
                      src="/frame-63.svg"
                    />
                    <img
                      class="h-[385px] w-1 relative overflow-hidden shrink-0 z-[7]"
                      alt=""
                      src="/frame-64.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row items-start justify-start py-0 pr-8 pl-6 mt-[-425px]">
          <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative shrink-0 [debug_commit:1de1738]">
            <img
              class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[2]"
              alt=""
              src="/frame-59.svg"
            />
            <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
              <img
                class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[3]"
                alt=""
                src="/frame-60.svg"
              />
              <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                <img
                  class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[4]"
                  alt=""
                  src="/frame-61.svg"
                />
                <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                  <img
                    class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[5]"
                    alt=""
                    src="/frame-62.svg"
                  />
                  <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                    <img
                      class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[6]"
                      alt=""
                      src="/frame-63.svg"
                    />
                    <img
                      class="h-[385px] w-1 relative overflow-hidden shrink-0 z-[7]"
                      alt=""
                      src="/frame-64.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row items-start justify-start py-0 pr-6 pl-8 mt-[-425px]">
          <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative shrink-0 [debug_commit:1de1738]">
            <img
              class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[2]"
              alt=""
              src="/frame-83.svg"
            />
            <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
              <img
                class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[3]"
                alt=""
                src="/frame-84.svg"
              />
              <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                <img
                  class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[4]"
                  alt=""
                  src="/frame-85.svg"
                />
                <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                  <img
                    class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[5]"
                    alt=""
                    src="/frame-86.svg"
                  />
                  <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                    <img
                      class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[6]"
                      alt=""
                      src="/frame-87.svg"
                    />
                    <img
                      class="h-[385px] w-1 relative overflow-hidden shrink-0 z-[7]"
                      alt=""
                      src="/frame-88.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="self-stretch flex flex-row items-start justify-end py-0 px-2 mt-[-425px]">
          <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative shrink-0 [debug_commit:1de1738]">
            <img
              class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[2]"
              alt=""
              src="/frame-83.svg"
            />
            <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
              <img
                class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[3]"
                alt=""
                src="/frame-84.svg"
              />
              <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                <img
                  class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[4]"
                  alt=""
                  src="/frame-85.svg"
                />
                <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                  <img
                    class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[5]"
                    alt=""
                    src="/frame-86.svg"
                  />
                  <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                    <img
                      class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[6]"
                      alt=""
                      src="/frame-87.svg"
                    />
                    <img
                      class="h-[385px] w-1 relative overflow-hidden shrink-0 z-[7]"
                      alt=""
                      src="/frame-88.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="self-stretch flex flex-row items-start justify-end py-0 px-4 mt-[-425px]">
          <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative shrink-0 [debug_commit:1de1738]">
            <img
              class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[2]"
              alt=""
              src="/frame-83.svg"
            />
            <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
              <img
                class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[3]"
                alt=""
                src="/frame-84.svg"
              />
              <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                <img
                  class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[4]"
                  alt=""
                  src="/frame-85.svg"
                />
                <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                  <img
                    class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[5]"
                    alt=""
                    src="/frame-86.svg"
                  />
                  <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                    <img
                      class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[6]"
                      alt=""
                      src="/frame-87.svg"
                    />
                    <img
                      class="h-[385px] w-1 relative overflow-hidden shrink-0 z-[7]"
                      alt=""
                      src="/frame-88.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="self-stretch flex flex-row items-start justify-end mt-[-425px]">
          <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative shrink-0 [debug_commit:1de1738]">
            <img
              class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[2]"
              alt=""
              src="/frame-83.svg"
            />
            <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
              <img
                class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[3]"
                alt=""
                src="/frame-84.svg"
              />
              <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                <img
                  class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[4]"
                  alt=""
                  src="/frame-85.svg"
                />
                <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                  <img
                    class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[5]"
                    alt=""
                    src="/frame-86.svg"
                  />
                  <div class="flex flex-row items-start justify-start pt-2 px-0 pb-0 relative">
                    <img
                      class="h-full w-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full z-[6]"
                      alt=""
                      src="/frame-87.svg"
                    />
                    <img
                      class="h-[385px] w-1 relative overflow-hidden shrink-0 z-[7]"
                      alt=""
                      src="/frame-88.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="w-full h-[169px] absolute !m-[0] top-[0px] right-[0px] left-[0px] max-w-full overflow-hidden shrink-0 object-cover"
          alt={name}
          src={image}
        />
      </div>
    </div>
    <div class="absolute top-[0px] left-[69px] w-2 h-[321px]" />
    <div class="absolute top-[0px] left-[77px] w-2 h-[321px]" />
    <div class="absolute top-[0px] left-[85px] w-2 h-[321px]" />
    <div class="absolute top-[0px] left-[93px] w-2 h-[321px]" />
    <div class="absolute top-[0px] left-[101px] w-1 h-[321px]" />
  </div>
</section>
